* {
    margin: 0;
    font-family: Hind Madurai, sans-serif;
}

#blur {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    opacity: 1;
    background-color: #EEEEEE;
}

#content {
    height: 100vh;
    z-index: 3;
}

a {
    cursor: pointer;
    text-transform: uppercase;
    transition: padding-bottom 0.2s;
    font-weight: 600;
    color:white;
    text-decoration:none;
}

    a:hover {
        color: #EEEEEE;
        text-decoration: none;
    }

#title {
    text-transform: capitalize;
    
}

    #title:hover {
        border-bottom: none;
    }

ul li {
    list-style-type: none;
    display: inline;
    position: relative;
    cursor: default;
    top:-5px;
    
}

ul {
    display: inline;
}

#right {
    position: absolute;
    float: right;
    right: 1vw;
    top: 25px;
}

#left ul li {
    padding-left: 10px;
    padding-right: 10px;
}

#joinbutton {
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid white 1.5px;
    border-radius: 3px;
    color: white;
    transition: color 0.6s, background-color 0.6s;
    text-shadow: none;
}

    #joinbutton:hover {
        background-color: rgba(255,255,255,0.1);
        color: #EEEEEE;
    }

#sendbutton {
    background-color: #82d737;
    padding-left: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid #82a737 1.5px;
    border-radius: 3px;
    transition: background-color 0.6s, color 0.6s;
    color: white;
    text-shadow: none;
}

    #sendbutton:hover {
        color: #EEEEEE;
        background-color: rgba(130,199,55,0.9);
    }

#left {
    position: absolute;
    float: left;
    top: 22px;
}
#map {
    border-radius:20px;
    border:1px solid #CCCCCC;
    height:375px;
    width:450px;
    z-index:500;
}
#nav {
    display: block;
    position: fixed;
    min-height: 60px;
    color: white;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    box-shadow: 1px 0.5px 3px black;
    z-index: 4;
    transition: background-color 0.4s;
}

#mobilenav {
    position: fixed;
    display: none;
    height: 60px;
    min-height: 50px;
    width: 100%;
    padding-top: 10px;
    box-shadow: 1px .5px 3px black;
    background-color: black;
    z-index: 41;
}

    #mobilenav ul li {
        text-shadow: none;
    }

    #mobilenav #title {
        transition: color 0.2s;
        position: absolute;
        text-align: center;
        top: 18px;
        left: 50px;
    }

    #mobilenav #sendbutton {
        float: right;
    }

    #mobilenav #joinbutton {
        float: right;
    }

#hidden {
    display: block;
    position: absolute;
    width: 200px;
    height: 100vh;
    z-index: -100;
    transition: 0.1s;
    top: 45px;
    left:-200px;
    background-color: rgba(0,0,0,0.7);
    transition:left .6s;
}

    #hidden ul {
        display: inline;
        color: white;
    }

        #hidden ul li {
            padding-top: 30px;
            padding-bottom: 30px;
            margin: 0 auto;
            display: block;
            text-align: center;
            transition: background-color .4s;
        }

            #hidden ul li:hover {
                background-color: rgba(93,155,230,1);
                border-bottom: none;
            }

            #hidden ul li a:hover { 
                border-bottom: none;
            }
    #hidden hr {
        height: 1px;
        border: 0;
        background-color:darkgrey;
    }
    #hidden #placeHolder {
        height: 0px;
        background-color: #0278da;
    }

#pic {
    position:absolute;
    min-height: 20px;
    min-width: 20px;
    background-image: url(../Resources/mobile_menu.png);
    background-size: cover;
    top: 20px;
    left: 10px;
    float: left;
}

#title {
    font-weight: bold;
    font-size: 1.3em;
}

#menuButton {
    transition: .2s;
}

    #menuButton:hover {
        opacity: 0.8;
    }

.bigEmptyBox {
    font-size: 50px;
    text-align: center;
    color: black;
    position:relative;
}
    .bigEmptyBox #bigEmptyText {
        min-width: 60vw;
        min-height: 15vh;
        text-align: center;
        position: absolute;
        text-wrap: avoid;
        top: 40vh;
        left: 15vw;
    }
.emptyBox {
    font-size: 35px;
    color: black;
    position:relative;
    
}
.emptyBox #emptyText{    
    min-width:30vw;
    min-height:4vh;
    text-align:center;
    position:absolute;
    text-wrap:avoid;
    top:100px;
    left:34vw;
}
    
.textBox {
    padding-top: 80px;
    padding-bottom: 10px;
    min-height: 70%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-color: white;
    opacity: .8;
    box-shadow:1px -1px 1px black;
    z-index: 0;
    position:absolute;
}
    .textBox a {
        color:black;
        transition:.4s;
    }
    .textBox> footer {
        position:absolute;
        bottom:0px;
        left:45%;
    }
        .textBox a:hover {
            opacity:0.8;
        }
@media only screen and (max-width: 800px) {
    .emptyBox {
        font-size: 30px;
    }
        .emptyBox #emptyText {
            left:10vw;
        }
    #fixednav {
        display: none;
    }

    #nav {
        display: none;
    }

    #mobilenav {
        display: block;
    }
    .bigEmptyBox {
        font-size: 30px;
        text-align: center;
        color: black;
        position: relative;
    }
}

@media only screen and (max-width: 600px) {
    .emptyBox {
        font-size: 30px;
    }
        .emptyBox #emptyText {
            left: 10vw;
        }
    #fixednav {
        display: none;
    }

    #nav {
        display: none;
    }

    #mobilenav {
        display: block;
    }
    .bigEmptyBox {
        font-size: 30px;
        text-align: center;
        color: black;
        position: relative;
    }
}
#bigTopCont {
    height: 100vh;
    background-image: url(../Resources/bg.png);
    background-attachment: scroll;
    background-size: cover;
    transform: scale(1.0);
    margin: 0 auto;
    text-align: center;
}
    #bigTopCont p {
        position: absolute;
        top: 40%;
        left: 20%;
    }

#topCont {
    height: 200px;
    background-image: url(../Resources/bg.png);
    background-attachment: scroll;
    background-size: cover;
    transform: scale(1.0);
    margin: 0 auto;
    text-align: center;
}
#filters {
    padding-top: 20px;
    padding-bottom: 20px;
    border-right:1px #CCCCCC solid;
}
#packages {
    padding-top:20px;
    padding-bottom:20px;
}
.package {
    margin-top:10px;
    margin-bottom:10px;
    min-height:85vh;
    position:relative;
    border-radius:2px;
    text-align:center;
    border-bottom:2px solid #eeeeee;
    box-shadow:4px 4px 15px #888888;
}
    .package .package_pic {
        height: 35%;
        width: 100%;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background-color: #2271c7;
        position: absolute;
    }
        .package .package_pic img {
            position:absolute;
            height:70%;
            top:15%;
            left:30%;
        }
    .package .package_desc {
        height: 65%;
        width: 100%;
        position: absolute;
        background-color: white;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        top: 35%;
        padding-top:5%;
    }
    .package .package_confirm {
        background-color:transparent;
        color: white;
        position: absolute;
        bottom: 0px;
        width: 40%;
        left: 30%;
        padding-top: 10px;
        padding-bottom: 2.5%;
        margin-top: 10px;
        border-radius: 5px;
    }
        .package .package_confirm a {
            color: white;
            padding-left: 30%;
            padding-right: 30%;
            padding-top: 5%;
            padding-bottom: 5%;
            background-color: #2271c7;
            border-radius:5px;
            margin:2%;
        }
        .package .package_confirm .take {
            background-color: #82d737;
        }
    .package .addressLine {
        font-size:1em;
        text-transform:uppercase;
    }
    .package .price {
        font-size: 1.5em;
        text-transform: uppercase;
        width:50%;
        margin:0 auto;
    }
    .package .package_desc > .addressDiv {
        text-align:center;
        position:absolute;
        height:55%;
        width:100%;
        padding-top:10%;
        padding-left:10px;
        padding-right:10px;
        top:0px;
    }
    .package .package_desc > .informations {
        position: absolute;
        background-color: #eeeeee;
        padding-top: 10px;
        padding-bottom: 10px;
        top: 55%;
        height: 45%;
        border-left: 5px solid #eeeeee;
        border-right: 5px solid #eeeeee;
    }
        .package .informations p {
            margin: 0px;
            padding: 0px;
            text-wrap:normal;
        }
        .package .informations h3 {
            margin: 0px;
            padding: 0px;
        }
    .package .info {
        padding:0px ;
        border-right-style:solid;
        border-image :linear-gradient(transparent,#dddddd,#dddddd,#dddddd,transparent);
        border-image-slice:1;
        border-right-width:1px;
    }
        .package .noborder {
            border:none;
        }
.package .package_desc > .informations .vl {
    position:absolute;
    width:1px;
    height:100%;
    background-image:linear-gradient(transparent,#cccccc,#bbbbbb,#cccccc,transparent);
}
#options ul {
    padding-top:0px;
}
    #options ul li {
        list-style-type: none;
        padding-top: 10px;
        padding-bottom: 10px;
        display: list-item;
        border-bottom-style: solid;
        border-image: linear-gradient(to right,#AAAAAA,#AAAAAA,transparent);
        border-image-slice: 1;
        border-bottom-width:1px;
    }
#options #noborder {
    border-bottom-width: 0px;
}