<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>

    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISenderService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50512/DeliveryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISenderService"
                contract="SenderServiceReference.ISenderService" name="BasicHttpBinding_ISenderService" />
        </client>
    </system.serviceModel>
</configuration>
