<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDeliveryService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50512/DeliveryService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDeliveryService"
                contract="ServiceReference1.IDeliveryService" name="BasicHttpBinding_IDeliveryService" />
        </client>
    </system.serviceModel>
</configuration>